body {
  text-align: justify; }

#jumbotron {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  height: 200px;
  background-image: url("../images/encabezado.jpg"); }

#jumbotronh1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 20px;
  color: #FFFFFF; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.config-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 0px; }

#initialBtn {
  background-color: #F7B378; }

.buy-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 5px 5px 5px 5px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; }

#card-header {
  background-color: #F7B378; }

.link {
  margin-top: 0px;
  margin-bottom: 7px;
  margin-right: 0px;
  margin-left: 0px; }

footer {
  background-color: #F7B378;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; }

.footer-icon {
  padding-right: 4px; }

.btnEnviar {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; }

.imagen-playa {
  width: 100%;
  height: 50px; }

.tab-content {
  padding-top: 10px; }

.col-main {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 90px;
  margin-left: 90px; }

.disc-alert {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  size: 70px;
  font-size: 40px;
  background-size: auto; }

.img-tarjetas {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-right: 0px;
  margin-left: 0px; }

.oi-person {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 0px; }

.oi-people {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; }
