@light-orange: #F7B377;
@red: #e83c02;
@green: #02e83f;
@white: #FFFFFF;

.margenes(@top, @bottom, @right, @left){
    margin-top: @top;
    margin-bottom: @bottom;
    margin-right: @right;
    margin-left: @left;
}

body{ 
    text-align: justify;
}

#jumbotron{
    .margenes(50px, 20px, 0px, 0px);
    height: 200px; 
    background-image: url("../images/encabezado.jpg");
}

#jumbotronh1{
    .margenes(0px, 0px, 0px, 20px);
    color: @white;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.config-icon{
    .margenes(0px, 0px, 5px, 0px);
}

#initialBtn{
    background-color: @light-orange;
}

.buy-icon{
    .margenes(0px, 0px, 5px, 0px);
}

.card-hotel {
    flex: 1 200px;
    padding: 5px 5px 5px 5px;
    .margenes(15px, 0px, 0px, 0px);
}

#card-header{
    background-color: @light-orange;
}

.link {
    .margenes(0px, 7px, 0px, 0px);
}

footer {
    background-color: @light-orange;
    .margenes(40px, 0px, 0px, 0px);
}

.footer-icon{
    padding-right: 4px;
}

.btnEnviar{
    .margenes(10px, 0px, 0px, 0px);
}

.imagen-playa{
    width: 100%;
    height: 50px;
}

.tab-content{
    padding-top: 10px;
}

.col-main{
    .margenes(0px, 0px, 90px, 90px);
}

.disc-alert{
    .margenes(30px, 0px, 0px, 00px);
    size: 70px;
    font-size: 40px;
    background-size: auto;
}

.img-tarjetas{
    .margenes(0px, 15px, 0px, 00px);
}

.oi-person{
    .margenes(0px, 0px, 5px, 0px);
}

.oi-people{
    .margenes(0px, 0px, 0px, 0px);
}